.code {
  background-color: black;
  display: flex;
  flex-flow: row;
}
.codeText {
  border: 0;
  width: calc(100% - 50px);
  min-height: 100%;
  outline: none;
  padding: 5px;
  resize: none;
  font-size: 1em;
}
