.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.logoImg {
  height: 2rem;
  margin-right: 10px;
  filter: invert(100%);
}
.logoText {
  font-size: 1rem;
  font-family: "Rowdies", cursive;
}
@media (max-width:500px){

}